@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="row g-3">
    <div class="col-md-3"><div class="card p-3"><h6>Total Users</h6><h3>@ViewBag.TotalUsers</h3></div></div>
    <div class="col-md-3"><div class="card p-3"><h6>Students</h6><h3>@ViewBag.TotalStudents</h3></div></div>
    <div class="col-md-3"><div class="card p-3"><h6>Teachers</h6><h3>@ViewBag.TotalTeachers</h3></div></div>
    <div class="col-md-3"><div class="card p-3"><h6>Materials</h6><h3>@ViewBag.TotalMaterials</h3></div></div>
</div>
